*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none
}
.home a
{
    margin-top: 90px;
    margin-left: 1600px;
    color: white;
    font-size: 40px;
}
.orderlist
{
    position: fixed;
    left: -350px;
    width: 350px;
    height: 100%;
    background:#36667e;
    transition: all .5s ease;
}
.orderlist header
{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 80px;
    background: #454544;
}
.orderlist ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 30px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.orderlist ul a i{
    margin-right: 16px;
}
#check
{
    display: none;
}
label #btn,label #cancel
{
    position: absolute;
    cursor: pointer;
    background: #756565;
}
label #btn
{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel
{
    z-index: 1111;
    left: -350px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .orderlist
{
    left: 0;
}
#check:checked ~ label #btn
{
    left: 300px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel
{
    left: 250px;
}
#check:checked ~ section
{
    margin-left: 300px;
}
section
{
    background: url(./image8.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
